@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');


*{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.link-barrinha-1{
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.link-barrinha-1:hover{
  color: rgb(220, 1, 228);
  border-bottom: solid 1px rgb(220, 1, 228);
  transition: 1s;
}

.barrinha-1{
  background-color: rgb(49, 28, 0);
}

.banner{
  background: url('../img/bannercookies.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.botao{
  color: rgb(255, 255, 255);
  background-color: rgb(220, 1, 228);
}

.imagenscard{
  border-radius: 10px;
}


.perfil-main{
  height: 75vh;
  border-radius: 10rem 0.5rem;
  border: white solid 0.2rem;
}

.nome-main{
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  }

.banner-main{
  margin-top: 2.5rem;
}


.barrinha-main{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(197, 197, 197, 0.19);
}

.barrinha-main:hover{
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(32, 32, 32, 0.19);
}

.main-parte-2{
  margin-top: 10vh;
}

.titulo-main-parte-2{
  margin-left: 5%;
  font-weight: 600;
}

.imagens-parte-2{
  border-radius: 1rem;
}

.barra-de-pesquisa{
  margin-left: 20%;
}
.end-main{
  margin-top: 10vh;
  background-color: rgb(49, 28, 0);
  color: rgb(255, 255, 255);
  min-height: 30vh;
  font-size: 80%;
  text-align: justify;
}

.end-main-text{
  margin-left: 20%;
}
.titulos{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
}

.back-two{
    background-color: rgb(230, 230, 230);
    color: rgb(255, 255, 255);
    border-radius: 2rem 0px 0px 2rem;
}


@media (min-width: 400px) and (max-width: 576px){ 
  .banner{
      background-position: right;
      height: 70vh;
  }
  .nome-main{
      font-size: 300%;
  }
  .perfil-main{
      height: 70%;
  }
}

@media (min-width: 577px) and (max-width: 1200px){ 
  .banner{
      background-position: right;
      height:  70vh;
  }
  .nome-main{
      font-size: 500%;
  }
  .perfil-main{
      height: 100%;
  }
}

@media (max-width: 1399.98px) { } 